@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import "../../assets/font/styles.scss";

header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2C2C2C;
    padding: 0.5% 0;
}

#logo-section {
    img {
        height: 50px;
    }

}

#logo-section:hover {
    cursor: pointer;
}

.navbar {
    margin-left: -10%;

    .navbar-lists {
        display: flex;

        li {
            margin-right: 7%;
            list-style: none;

            .navbar-item {
                color: white;
                font-size: 1.2rem;
                font-weight: bold;

                text-wrap: nowrap;
                text-decoration: none;
            }

            .navbar-item:hover {
                cursor: pointer;
            }
        }


    }
}

#search-section {
    height: 30px;
    width: 15%;
    border: black 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 8px;
    padding: 0 7px;

    input {
        border: none;
        outline: none;
        width: 90%;
    }

    #search-but:hover {
        cursor: pointer;
    }
}