@import "../../assets/font/styles.scss";

#people {
    margin-bottom: 3%;
}

.people-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.2rem;

    .people-title_icon {
        margin-left: 0.5%;
    }
}

.people-title:hover {
    cursor: pointer;
    // color: #5DC882;
}

.people-title:hover>.people-title_icon {
    transform: translateX(5px);
    transition: 0.3s ease;
}

.people_lists {
    display: flex;

    .people_item {
        width: 200px !important;
        height: 300px;
        object-fit: cover;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        position: relative;
        padding: 5% 3%;


        .overlay-item {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;
        }

        .item-name_actor {
            display: none;
            padding: 5%;

            .item-name {
                font-weight: bold;
                font-size: 1.1rem;
            }

            .item-actor {
                font-size: 0.8rem;
            }
        }

        &:hover {
            cursor: pointer;
            scale: 1.05;
            transition: all 0.3s ease;

            .overlay-item {
                display: block;
                z-index: 0;
            }

            .item-name_actor {
                z-index: 1;
                display: flex;
                flex-direction: column;
            }
        }
    }
}